[submodule "third_party/RapidJSON"]
	path = third_party/RapidJSON
	url = git@github.com:hunter-packages/rapidjson
[submodule "third_party/websocketpp"]
	path = third_party/websocketpp
	url = git@github.com:hunter-packages/websocketpp
[submodule "third_party/folly"]
	path = third_party/folly
	url = git@github.com:facebook/folly
