[submodule "third_party/RapidJSON"]
  path = third_party/RapidJSON
  url = https://github.com/hunter-packages/rapidjson
[submodule "third_party/websocketpp"]
  path = third_party/websocketpp
  url = https://github.com/hunter-packages/websocketpp
[submodule "third_party/folly"]
  path = third_party/folly
  url = https://github.com/hunter-packages/folly
[submodule "third_party/duktape"]
  path = third_party/duktape
  url = https://github.com/hunter-packages/duktape
[submodule "third_party/Protobuf"]
  path = third_party/Protobuf
  url = https://github.com/hunter-packages/protobuf
[submodule "third_party/glog"]
  path = third_party/glog
  url = https://github.com/hunter-packages/glog
